body {
    font-size: 1.5em;
}

.home-search {
    display: none;
}

.home-categories {
    margin: 25px 0px;
}

.search-form {
    display: none;
}

.content {
    padding: 15px;
    margin: 15px 5px;
}

.content pre {
    padding: 0px;
    font-size: 100%;
}

.content blockquote {
    font-size: 100%;
}

span.execute-glyph {
    display: block;
    float: right;
    padding: 8px;
}

span.copy-glyph {
    display: block;
    float: right;
    padding: 8px;
}

[class^="hljs-"] {
    pointer-events: none;
}
